@charset "UTF-8";

body{
    background-color: rgb(255, 173, 96);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:  rgb(105, 61, 19);
}

h1#main{
    text-align: center;
    color: white;
    background-color:  rgb(105, 61, 19);
}

h2{
    color: rgb(207, 100, 0) ;
}

.beginner{
    color: rgb(207, 100, 0);
}

.intermediate{
    color: rgb(0, 207, 28);
}

.advanced{
    color: rgb(0, 83, 207);
}

.grif{
    background-color: rgba(255, 255, 0, 0.445);
}